    body{
    background: rgb(58,58,58);
    color: white;
    margin: 0;
    padding: 0;            }

    header{
        background: black;
        background-image: url("images/jiemian.jpg");
        background-size: 100%;
        background-position: center;
        padding: 20px;
        height: 400px;
        text-align: center;
    }

    header .logo a{
        background-image: url("images/logo.png");
        background-size: 300px;
        background-repeat: no-repeat;
        display: inline-block;
        height: 130px;
        position: relative;
        text-indent: -9999999999px;
        top: -30px;
        width: 300px;
        color: white;
    }

    .features{
        background: white;
        color: gray;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }

    .features figure{
        margin: auto;
        text-align: center;
        width: 100px;
        text-transform: uppercase;
    }

    .features figure img{
        border: 1px solid white;
        border-radius: 50%;
        box-shadow: gray 0 0 50px;
        width: 200px;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none; 
    }
    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    li{
        display: inline-block;
        margin-right: 20px;
        border-radius: 2px;
        padding: 3px;
    }

    footer{
        background:black;
        color: gray;
        padding: 10px  20px;
        text-align: center;
    }
    .main{
        background: white;
        color: gray;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }

    .main figure img{
        border: 10px solid white;
        border-radius: 8%;
        box-shadow: gray 0 0 200px;
        width: 500px;
    }

    /*400px*/
    @media screen and (max-width: 400px){
        .features{
            background: yellowgreen;
        }
        .features figure img{
            border: 1px solid white;
            border-radius: 50%;
            box-shadow: gray 0 0 10px;
            width: 40px;
        }
        .features figure{
            margin: auto;
            text-align: center;
            width: 10px;
            text-transform: uppercase;
        }
        .main{
            background: white;
            color: gray;
            padding: 5px;
            display: flex;
            flex-direction: row;
        }
    
        .main figure img{
            border: 1px solid white;
            border-radius: 8%;
            box-shadow: gray 0 0 200px;
            width: 100px;
        }

        header{
            background: black;
            background-image: url("images/jiemian.jpg");
            background-size: auto;
            background-position: center;
            padding: 1px;
            height:300px;
            text-align: center;
        }

        header .logo a{
            background-image: url("images/logo_new_gaitubao_98x30_gaitubao_78x24.png");
            background-size: 78px;
            background-repeat: no-repeat;
            display: inline-block;
            height:24px;
            position: relative;
            text-indent: -9999999999px;
            top: -0px;
            width: 78px;
            color: white;
        }
        a{
            font-size: 11px;
        }
    }
    /*800px*/
    @media screen and (max-width: 800px){
        .features{
            background: pink;
        }
        .features figure img{
            border: 1px solid white;
            border-radius: 50%;
            box-shadow: gray 0 0 10px;
            width: 30px;
        }
        .features figure{
            margin: auto;
            text-align: center;
            width: 10px;
            text-transform: uppercase;
        }
        .main{
            background: white;
            color: gray;
            padding: 5px;
            display: flex;
            flex-direction: row;
        }
    
        .main figure img{
            border: 1px solid white;
            border-radius: 8%;
            box-shadow: gray 0 0 200px;
            width: 100px;
        }

        header{
            background: black;
            background-image: url("images/jiemian.jpg");
            background-size: auto;
            background-position: center;
            padding: 1px;
            height:300px;
            text-align: center;
        }

        header .logo a{
            background-image: url("images/logo_new_gaitubao_98x30_gaitubao_78x24.png");
            background-size: 78px;
            background-repeat: no-repeat;
            display: inline-block;
            height:24px;
            position: relative;
            text-indent: -9999999999px;
            top: -0px;
            width: 78px;
            color: white;
        }
        a{
            font-size: 11px;
        }
    }

    /*400px*/
    @media screen and (max-width: 400px){
        .features{
            background: yellowgreen;
        }
        .features figure img{
            border: 1px solid white;
            border-radius: 50%;
            box-shadow: gray 0 0 10px;
            width: 40px;
        }
        .features figure{
            margin: auto;
            text-align: center;
            width: 10px;
            text-transform: uppercase;
        }
        .main{
            background: white;
            color: gray;
            padding: 5px;
            display: flex;
            flex-direction: row;
        }
    
        .main figure img{
            border: 1px solid white;
            border-radius: 8%;
            box-shadow: gray 0 0 200px;
            width: 100px;
        }

        header{
            background: black;
            background-image: url("images/jiemian.jpg");
            background-size: auto;
            background-position: center;
            padding: 1px;
            height:300px;
            text-align: center;
        }

        header .logo a{
            background-image: url("images/logo_new_gaitubao_98x30_gaitubao_78x24.png");
            background-size: 78px;
            background-repeat: no-repeat;
            display: inline-block;
            height:24px;
            position: relative;
            text-indent: -9999999999px;
            top: -0px;
            width: 78px;
            color: white;
        }
        a{
            font-size: 11px;
        }
    
    }

    /*800px*/
    @media screen and (max-width: 800px){
        .main{
            background: pink;
        }
        .features figure img{
            border: 1px solid white;
            border-radius: 50%;
            box-shadow: gray 0 0 10px;
            width: 40px;
        }
        .features figure{
            margin: auto;
            text-align: center;
            width: 20px;
            text-transform: uppercase;
        }
        .features figure{
            margin: auto;
            text-align: center;
            width: 10px;
            text-transform: uppercase;
        }
        .main{
            background: white;
            color: gray;
            padding: 5px;
            display: flex;
            flex-direction: row;
        }
    
        .main figure img{
            border: 1px solid white;
            border-radius: 8%;
            box-shadow: gray 0 0 200px;
            width: 100px;
        }

        header{
            background: black;
            background-image: url("images/jiemian.jpg");
            background-size: auto;
            background-position: center;
            padding: 1px;
            height:300px;
            text-align: center;
        }

        header .logo a{
            background-image: url("images/logo_new_gaitubao_98x30_gaitubao_78x24.png");
            background-size: 78px;
            background-repeat: no-repeat;
            display: inline-block;
            height:24px;
            position: relative;
            text-indent: -9999999999px;
            top: -0px;
            width: 78px;
            color: white;
        }
        a{
            font-size: 11px;
        }
    
    }
   